<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoTecnico.Properties.Settings.ProjetoTecnicoConnectionString" connectionString="Data Source=(local);Initial Catalog=ProjetoTecnico;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="ProjetoTecnico.Properties.Settings.InformaxConnectionString" connectionString="Data Source=(local);Initial Catalog=Informax;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
